body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 100px;
    padding: 0%;
}

a {
    text-decoration: none;
}

.container{
    max-width: 1220;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.title-main{

    font-weight: 700;
    font-size: 48px;
}

.carAndMinivan{
    color: #0066FF;
    font-weight: 400;
    font-size: 18px;
}

.carts{
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.car-name{
    font-weight: 700;
    font-size: 24px;
    
}

.car-item{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;


width: 270px;
height: 410px;

/* blue */

border: 1px solid #0066FF;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;

}

.car-item1{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: column;
align-items: center;
padding: 0px;


width: 270px;
height: 410px;

/* blue */

border: 1px solid #0066FF;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
opacity: 0.6;
}

.car-price{
    margin-top: 4px;
}

.car-bron{
    display: inline-block;
    color: #0066FF;
    width:268px;
    height: 40px;
    max-width: auto;
    margin-top: 33px;
    border:1px solid #0066FF; 
    padding-top: 15px;

    transition: 0.5s;
}

.car-bron:hover{
    background-color: blue;
    color:aliceblue;
    border-top: 1px solid #fff; 
}

